:root{
    --imagebackground: Url("Fondo_pagina.jpg");
    --imagechange: Url("Luna_minecraft.png");
}

header{
    position: fixed;
    background-color: #262423;
    display:flex;
    justify-content: space-between;
    align-items: center;
    direction: row-reverse;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 10px 5%;
    z-index: 2;
}

.nav-header{
    animation: inicio_2 5s 1 forwards;
}

.section_1{
    display: flex;
    justify-content: space-between;
    padding: 15% 5%;
    font-size: 30px; 
}

.div_1{
    max-height: 500px;
}

.imagenes_1{
    display:flex;
    justify-content: space-around;
    align-content: center;
}


.Ghast{
    max-width: 30%; 
    height: 30%; 
    margin: 100px;
    border: 10px solid white;
    border-radius: 20px;
}

.Ghast:hover{
    transform:scale(110%);
}

.Camello{
    max-width: 560px;
    height: 424px;
    margin: 100px;
    border: 10px solid white;
    border-radius: 20px;
    
}

.Camello:hover{
    transform:scale(110%);
}

.Carteles{
    max-width: 530px;
    height: 390px;
    margin: 100px;
    border-radius: 20px;
}

.Carteles:hover{
    transform:scale(110%);
}

body{
    color:#ffffff;
}

a{
    margin: 0 10px;
    text-decoration: none;
    color: rgb(255, 255, 255)
}


.steve{
    height: 100%;
    width: auto;
    animation: inicio_2 5s 1 forwards;
}


.recuadro{
    position: relative;
    text-align: center;
    margin:60px
}

.recuadro img {
    width: 300px; 
    height: auto;
    border-radius: 8%;
    animation: size 3s infinite forwards;
}

.recuadro h2 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
}

p {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 25px;
    font-weight: bold;
}

a{
    font-size: 20px;
    font-weight: bold;
}


.Video{
   display: flex; 
   justify-content: center;
   align-content: center;
}

iframe{
    display: block;
    margin: auto;
    border: none;
    border: 10px solid white;
    border-radius: 20px;
}


.imagenes_2{
    display: flex;
    justify-content: center;
    align-content: center;
    padding:30px;
}

.imagen_2:hover{
    transform:scale(110%);
}

.imagen_2{
    display: block;
    margin: auto;
    border: none;
    border: 10px solid white;
    border-radius: 20px;
}

.texto{
    background-color: rgba(0, 0, 0, 0.616);
    border-radius: 20px;
    padding:5px;
    margin:40px;
    animation: inicio 5s 1 forwards;
}

footer{
    background-color: #262423;
    width: 100%;
    bottom:0px;
    left:0px;
    padding:1px;   
}

.logotipo{
    animation: logo 2s infinite forwards;
}

/* Cambie de Fondo*/

.fondo{
    background-image: var(--imagebackground);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.Cambio{
    width:60px;
    height:60px;
    background-image: var(--imagechange);
    background-size:contain;
}

#Tema:checked~ .contenedor .fondo {
    --imagebackground:Url("Fondo_pagina_noche.jpg");
    --imagechange:Url("Sol_Minecraft.png");
}

/*Animaciones*/

@keyframes logo{

    0%{
        transform: rotate(5deg);
    }

    50%{
        transform: rotate(-5deg);
    }

    100%{
        transform: rotate(0deg);
    }
}

@keyframes size{

    0%{
        transform:scale(100%);
    }

    50%{
        transform:scale(120%);
    }

    100%{
        transform:scale(100%);
    }
}

@keyframes inicio{

    0%{
        transform:translate(-1000px);
    }

    100%{
        transform:translate(0px);
    }
}

@keyframes inicio_2{

    0%{
        transform:translate(1000px);
    }

    100%{
        transform:translate(0px);
    }
}
